<a href="https://colab.research.google.com/github/CodeCraft34/Google-Colab-/blob/master/PANDAS-data-handling/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Pandas<br>

##What is __Pandas__?
<strong>Pandas</strong> is a powerful Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name *Pandas* has a reference to both *Panel Data*, and *Python Data Analysis* and was created by Wes McKinney in 2008.

##Why use Pandas?
* Easy for data cleaning.
* Easily handle large data set.
* Comes with built-in functions.
* Integration with other python libraries.

In [ ]:
print("Introduction to Pandas")

Introduction to Pandas

##Installing Pandas
Open your cmd prompt
then type
`pip install pandas`
Then,
`python`,`python3`(for mac)
`import pandas as pd`
`print(pd.__version__)`<br>
If version is showing then every thing is find.
For jupyter everything is fine! üëç

In [ ]:
import pandas as pd
#pd is for alias another name to call pandas.

In [ ]:
pd.__version__

'2.2.2'

##Series
It's is one dimensional array holding data of any types.

In [ ]:
a = ['Banana','Cat','Apple']
myseries = pd.Series(a)
myseries

0    Banana
1       Cat
2     Apple
dtype: object

##Labels
Labels are used to specific or name any elements in a _Series_.
Also index are used too specifiy the element.

In [ ]:
#By index
myseries[1]

'Cat'

In [ ]:
myseries = pd.Series(a, index= ['x','y','z'])
#return the value of y
myseries['y']

'Cat'

In [ ]:
myseries['z']

'Apple'

##Key/Value Object in Series
You can store multiple values in a key like a __dictionary__ format.

In [4]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

myvar

day1    420
day2    380
day3    390
dtype: int64

##Selecting Key and Values from Series
You can select value by `index` argument i.e *day1* and *day2*.

In [6]:
myvar = pd.Series(calories, index = ["day1", "day2"])
myvar

day1    420
day2    380
dtype: int64

##__Dataframe__
__Dataframe__ is two dimensional tabular dataset holding *Columns* and *Rows*.

In [19]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

##Locating Rows
Now you can see the output is in tabular with columns and rows.
You can access rows by `.loc` attribute.
It will return a *Series*.

In [27]:
df.loc[1]

Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object

In [33]:
df.loc[[0,1]]
#It will return dataframe
#Use list for giving indices

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

##Labeling the Indices
You can also label indices like Series.

In [36]:
data = {'Name': ['Tom', 'Nick', 'Krish', 'Jack'],
        'Age': [20, 21, 19, 18]}

#Create DataFrame with custom named indices 'row1' through 'row4'
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4'])
df

       Name  Age
row1    Tom   20
row2   Nick   21
row3  Krish   19
row4   Jack   18

##__Importing Data into Pandas's Dataframe__
Step 1: Click on folder icon
Step 2: Drag and drop or import files from your file manager.<br>
Then your all files will be uploaded to colab file manager.
Note your files should with root directory.

__Pandas__ supports variety of data file fromats.<br>
* __Excel__: `pd.read_excel()` supports `.xls,` `.xlsx,` `.xlsm,` and even OpenDocument `.ods` files.

* **CSV**: `pd.read_csv()` handles comma-separated values.

* **JSON**: `pd.read_json()` reads JSON strings or files, including line-delimited formats.

* __XML__: `pd.read_xml()` parses XML data into a tabular structure.

###Creating CSV file in Jupyter

In [37]:
%%writefile students.csv
ID,Name,Grade
101,Alice,A
102,Bob,B
103,Charlie,A-

Writing students.csv

In [40]:
import pandas as pd

df = pd.read_csv('students.csv')

print(df.to_string())
#to_string for printing whole dataframe

    ID     Name Grade
0  101    Alice     A
1  102      Bob     B
2  103  Charlie    A-

##Reading .json files

In [45]:
%%writefile student.json

[
  {"id": 1, "name": "Alice", "city": "New York"},
  {"id": 2, "name": "Bob", "city": "Chicago"},
  {"id": 3, "name": "Charlie", "city": "San Francisco"}
]

Writing student.json

In [46]:
import pandas as pd

df = pd.read_json('student.json')

print(df.to_string())

   id     name           city
0   1    Alice       New York
1   2      Bob        Chicago
2   3  Charlie  San Francisco